/* Form */
#myForm{
    font-size:20px;
    width: 800px;
}

/* Titles/Headers */
#headers > div {
    display: inline-block;
    margin: 0px 4px 0 0px;
}

.center{
    text-align: center;
}

.w50px{
    width:50px;
}

.txtCriatura{
    width: 200px;
}

.txtHP{
    width:70px;
}

#lines input{
    margin: 5px 5px;
    font-size:20px;
    display: inline-block;
}
#lines div{
    margin: 2px 0px;
    font-size:20px;
    display: inline-block;
}

#submit{
    font-size:20px;
    margin:30px 0 0 10px;
}

#tabelaCombate td{
    padding:5px 5px;
    text-align: center;
    font-size: 20px;
}
#tabelaCombate input{
    font-size: 20px;
}

.txtLocal{
    width:250px;
}

.txtHPAtual{
    width:70px;
}

.celulaCriatura{
    width:200px;
}

.celulaHP{
    width:50px;
}

.botaoVoltar{
    font-size:20px;
    padding:5px 30px;
    margin-top:200px;
}