body{
    color:gray;
    background-color: black;
}
/* Form */
#myForm{
    border: solid 1px gray;
    font-size:20px;
    width: 800px;
    padding:20px;
}

/* Titles/Headers */
#headers > div {
    display: inline-block;
    margin: 0px 4px 0 0px;
}

.center, #tabelaCombate td{
    text-align: center;
}


/* Table Columns,Inputs Sizes */
input, td, div, button{
    font-size: 20px;
}

td{
    padding:5px;
}

.w50px{
    width:50px;
}

.txtHP{
    width:70px;
}

.txtCriatura{
    width: 200px;
}

.txtLocal{
    width:250px;
}

.manualCheck{
    width: 50px;
    text-align: center;
}

#lines input{
    margin: 10px 5px;
    display: inline-block;
    background-color: black;
    color: gray;
    border: 2px solid gray;
}

#lines div{
    display: inline-block;
}

/* Navigate Buttons */
.navigateButton{
    padding:5px 20px;
    margin:100px 0 0 20px;
    background-color: black;
    color:gray;
    border: 2px solid gray;
}

.buttonAdd{
    background-color: black;
    color:gray;
    border: 2px solid gray;
}